mixin list(item)
    .list__point
    .list__item
        div(class="list__item-name list__item-name_color_" + item.itemNameColor) #{item.itemName}
        .list__period // #{item.periodStart} - #{item.periodEnd}
        .list__item-subname #{item.itemSubname}
        p.list__text #{item.itemText}