mixin list(itemName, itemNameColor, periodStart, periodEnd, itemSubname, itemText)
    .list__point
    .list__item
        div(class="list__item-name list__item-name_color_" + itemNameColor) #{itemName}
        .list__period // #{periodStart} - #{periodEnd}
        .list__item-subname #{itemSubname}
        p.list__text #{itemText}